<footer>
    <div class="f-info border-top ">
        <div class="f-info-socials">
             <a href="#" style="color:black;"><i class="fa-brands fa-facebook"></i></a>
             <a href="#" style="color:black;"><i class="fa-brands fa-instagram"></i></a>
             <a href="#" style="color:black;"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">WanderLust Pvt Ltd</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>

</footer>